<section>
  <p-toast key="toastPaciente"></p-toast>

  <div class="card-form" id="form-paciente">
    <div>
      <label for="cedula">Cedula</label>
      <input pInputText id="cedula" [(ngModel)]="pacienteIngresar.cedula" />
    </div>
    <div>
      <label for="apellidoPaterno">Apellido Paterno</label>
      <input pInputText id="apellidoPaterno" [(ngModel)]="pacienteIngresar.apellidoPaterno" />
    </div>
    <div>
      <label for="apellidoMaterno">Apellido Materno</label>
      <input pInputText id="apellidoMaterno" [(ngModel)]="pacienteIngresar.apellidoMaterno" />
    </div>
    <div>
      <label for="primerNombre">Primer Nombre</label>
      <input pInputText id="primerNombre" [(ngModel)]="pacienteIngresar.primerNombre" />
    </div>
    <div>
      <label for="segundoNombre">Segundo Nombre</label>
      <input pInputText id="segundoNombre" [(ngModel)]="pacienteIngresar.segundoNombre" />
    </div>

    <div>
      <label for="direccion">Dirección de residencia habitual (calle y N. Manzana y Casa)</label>
      <input pInputText id="direccion" [(ngModel)]="pacienteIngresar.direccion" />
    </div>
    <div>
      <label for="provincia">Provincia</label>
      <p-dropdown [filter]="true" filterBy="nombre" [options]="provincias" [(ngModel)]="selectedProvincia"
        optionLabel="nombre" [showClear]="true" placeholder="Seleccione una provincia"
        (ngModelChange)="listarCantones()"></p-dropdown>
      <!-- <input pInputText id="provincia" [(ngModel)]="pacienteIngresar.provincia" /> -->
    </div>
    <div>
      <label for="canton">Canton</label>
      <p-dropdown [filter]="true" filterBy="nombre" [options]="listCantones" [(ngModel)]="selectedCanton"
        optionLabel="nombre" [showClear]="true" placeholder="Seleccione un canton"
        (ngModelChange)="listarParroquias()"></p-dropdown>
    </div>


    <div>
      <label for="parroquia">Parroquia</label>
      <p-dropdown [filter]="true" filterBy="nombre" [options]="listParroquias" [(ngModel)]="pacienteIngresar.parroquia"
        optionLabel="nombre" [showClear]="true" placeholder="Seleccione una parroquia"></p-dropdown>
    </div>



    <div>
      <label for="telefono">N Telefono</label>
      <input pInputText id="telefono" [(ngModel)]="pacienteIngresar.numeroTelefono" />
    </div>

    <div>
      <label for="fechaNacimiento">Fecha nacimiento</label>

      <input pInputText [(ngModel)]="pacienteIngresar.fechaNacimiento" placeholder="yyyy-mm-dd" />
    </div>

    <div>
      <label for="lugarNacimiento">Lugar de nacimiento</label>
      <input pInputText id="lugarNacimiento" [(ngModel)]="pacienteIngresar.lugarNacimiento" />
    </div>

    <div>
      <label for="nacionalidad">Nacionalidad (País)</label>
      <input pInputText id="nacionalidad" [(ngModel)]="pacienteIngresar.nacionalidad" />
    </div>

    <div>
      <label for="grupoCultural">Grupo Cultural</label>
      <input pInputText id="grupoCultural" [(ngModel)]="pacienteIngresar.grupoCultural" />
    </div>

    <div>
      <label for="edad">Edad</label>
      <input pInputText id="edad" [(ngModel)]="pacienteIngresar.edad" />
    </div>

    <div>
      <label for="sexo">Sexo</label>
      <p-dropdown [options]="sexoList" [(ngModel)]="pacienteIngresar.sexo" [showClear]="true"></p-dropdown>
    </div>
    <div>
      <label for="estadoCivil">Estado Civil</label>
      <p-dropdown [options]="estadoCivilList" [(ngModel)]="pacienteIngresar.estadoCivil"
        [showClear]="true"></p-dropdown>
    </div>

    <div>
      <label for="instruccion">Instrucción ultimo año aprobado</label>
      <input pInputText id="instruccion" [(ngModel)]="pacienteIngresar.instruccionEducativa" />
    </div>
    <div>
      <label for="fechaAdmision">Fecha de admisión</label>
      <input pInputText id="fechaAdmision" [(ngModel)]="pacienteIngresar.fechaAdmision" placeholder="yyyy-mm-dd" />
    </div>
    <div>
      <label for="ocupacion">Ocupación</label>
      <input pInputText id="ocupacion" [(ngModel)]="pacienteIngresar.ocupacion" />
    </div>
    <div>
      <label for="empresaTrabajo">Empresa donde trabaja</label>
      <input pInputText id="empresaTrabajo" [(ngModel)]="pacienteIngresar.empresaTrabajo" />
    </div>
    <div>
      <label for="tipoSeguro">Tipo de seguro de salud</label>
      <input pInputText id="tipoSeguro" [(ngModel)]="pacienteIngresar.tipoSeguro" />
    </div>

    <div>
      <label for="referido">Referido de:</label>
      <input pInputText id="referido" [(ngModel)]="pacienteIngresar.referido" />
    </div>
    <div>
      <h2>Contacto de Emergencia</h2>

      <label for="nombreEmergencia">En caso necesario avisar a:</label>
      <input pInputText id="nombreEmergencia" [(ngModel)]="pacienteIngresar.contactoEmergenciaNombre" />
    </div>
    <div>
      <label for="afinidad">Parentesco-afinidad</label>
      <input pInputText id="afinidad" [(ngModel)]="pacienteIngresar.contactoEmergenciaAfinidad" />
    </div>
    <div>
      <label for="direccionContacto">Direccion</label>
      <input pInputText id="direccionContacto" [(ngModel)]="pacienteIngresar.contactoEmergenciaDireccion" />
    </div>
    <div>
      <label for="numeroContacto">Nº Teléfono</label>
      <input pInputText id="numeroContacto" [(ngModel)]="pacienteIngresar.contactoEmergenciaTelefono" />
    </div>

    <div>
      <label for="llegada">Forma de llegada</label>
      <input pInputText id="llegada" [(ngModel)]="pacienteIngresar.llegadaForma" />
    </div>
    <div>
      <label for="llegadaInformacion">Fuente de información</label>
      <input pInputText id="llegadaInformacion" [(ngModel)]="pacienteIngresar.llegadaFuente" />
    </div>
    <div>
      <label for="llegadaEntrega">Institución o persona que entrega al paciente</label>
      <input pInputText id="llegadaEntrega" [(ngModel)]="pacienteIngresar.llegadaEntrega" />
    </div>
    <div>
      <label for="llegadaNumero">Nº Teléfono</label>
      <input pInputText id="llegadaNumero" [(ngModel)]="pacienteIngresar.llegadaTelefono" />
    </div>
    <p-button label="Insertar" (onClick)="guardarPaciente()"></p-button>
  </div>
</section>