<section>
  <p-toast key="toastPaciente"></p-toast>

  <div class="card-form" id="form-paciente">
    <h2>Datos</h2>

    <div>
      <label for="cedula">Cedula</label>
      <input pInputText id="cedula" [(ngModel)]="pacienteIngresar.cedula" />
    </div>
    <div>
      <label for="apellidoPaterno">Apellido Paterno</label>
      <input pInputText id="apellidoPaterno" [(ngModel)]="pacienteIngresar.apellidoPaterno" />
    </div>
    <div>
      <label for="apellidoMaterno">Apellido Materno</label>
      <input pInputText id="apellidoMaterno" [(ngModel)]="pacienteIngresar.apellidoMaterno" />
    </div>
    <div>
      <label for="primerNombre">Primer Nombre</label>
      <input pInputText id="primerNombre" [(ngModel)]="pacienteIngresar.primerNombre" />
    </div>
    <div>
      <label for="segundoNombre">Segundo Nombre</label>
      <input pInputText id="segundoNombre" [(ngModel)]="pacienteIngresar.segundoNombre" />
    </div>

    <div>
      <label for="direccion">Dirección de residencia habitual (calle y N. Manzana y Casa)</label>
      <input pInputText id="direccion" [(ngModel)]="pacienteIngresar.direccion" />
    </div>
    <div>
      <label for="provincia">Provincia</label>
      <p-dropdown [filter]="true" filterBy="nombre" [options]="provincias" [(ngModel)]="selectedProvincia"
        optionLabel="nombre" [showClear]="true" placeholder="Seleccione una provincia"
        (ngModelChange)="listarCantones()"></p-dropdown>
      <!-- <input pInputText id="provincia" [(ngModel)]="pacienteIngresar.provincia" /> -->
    </div>
    <div>
      <label for="canton">Canton</label>
      <p-dropdown [filter]="true" filterBy="nombre" [options]="listCantones" [(ngModel)]="selectedCanton"
        optionLabel="nombre" [showClear]="true" placeholder="Seleccione un canton"
        (ngModelChange)="listarParroquias()"></p-dropdown>
    </div>


    <div>
      <label for="parroquia">Parroquia</label>
      <p-dropdown [filter]="true" filterBy="nombre" [options]="listParroquias" [(ngModel)]="selectedParroquia"
        (ngModelChange)="seleccionarParroquia()" optionLabel="nombre" [showClear]="true"
        placeholder="Seleccione una parroquia"></p-dropdown>
    </div>



    <div>
      <label for="telefono">N Telefono</label>
      <input pInputText id="telefono" [(ngModel)]="pacienteIngresar.numeroTelefono" />
    </div>

    <div>
      <label for="fechaNacimiento">Fecha nacimiento</label>

      <input pInputText [(ngModel)]="pacienteIngresar.fechaNacimiento" placeholder="yyyy-mm-dd" />
    </div>

    <div>
      <label for="lugarNacimiento">Lugar de nacimiento</label>
      <input pInputText id="lugarNacimiento" [(ngModel)]="pacienteIngresar.lugarNacimiento" />
    </div>

    <div>
      <label for="nacionalidad">Nacionalidad (País)</label>
      <input pInputText id="nacionalidad" [(ngModel)]="pacienteIngresar.nacionalidad" />
    </div>



    <div>
      <label for="edad">Edad</label>
      <input pInputText id="edad" [(ngModel)]="pacienteIngresar.edad" />
    </div>

    <div>
      <label for="sexo">Sexo</label>
      <p-dropdown [options]="sexoList" [(ngModel)]="pacienteIngresar.sexo" [showClear]="true"></p-dropdown>
    </div>
    <div>
      <label for="estadoCivil">Estado Civil</label>
      <p-dropdown [options]="estadoCivilList" [(ngModel)]="pacienteIngresar.estadoCivil"
        [showClear]="true"></p-dropdown>
    </div>


    <div>
      <label for="fechaAdmision">Fecha de admisión</label>
      <input pInputText id="fechaAdmision" [(ngModel)]="pacienteIngresar.fechaAdmision" placeholder="yyyy-mm-dd" />
    </div>


    <div>
      <label for="tipoSeguro">Tipo de seguro de salud</label>
      <input pInputText id="tipoSeguro" [(ngModel)]="pacienteIngresar.tipoSeguro" />
    </div>

    <h2>Contacto de Emergencia</h2>

    <div>

      <label for="nombreEmergencia">En caso necesario avisar a:</label>
      <input pInputText id="nombreEmergencia" [(ngModel)]="pacienteIngresar.contactoEmergenciaNombre" />
    </div>
    <div>
      <label for="afinidad">Parentesco-afinidad</label>
      <input pInputText id="afinidad" [(ngModel)]="pacienteIngresar.contactoEmergenciaAfinidad" />
    </div>
    <div>
      <label for="direccionContacto">Direccion</label>
      <input pInputText id="direccionContacto" [(ngModel)]="pacienteIngresar.contactoEmergenciaDireccion" />
    </div>
    <div>
      <label for="numeroContacto">Nº Teléfono</label>
      <input pInputText id="numeroContacto" [(ngModel)]="pacienteIngresar.contactoEmergenciaTelefono" />
    </div>
    <h2>Antecedentes</h2>
    <div>
      <label for="app"> Antecedentes Personales Patológicos</label>
      <input pInputText id="app" [(ngModel)]="pacienteIngresar.app" />
    </div>
    <div>
      <label for="apf"> Antecedentes Personales Familiares</label>
      <input pInputText id="apf" [(ngModel)]="pacienteIngresar.apf" />
    </div>
    <div>
      <label for="alergias">Alergias conocidas por el paciente</label>
      <input pInputText id="alergias" [(ngModel)]="pacienteIngresar.alergias" />
    </div>
    <div>
      <label for="aqx">Antecedentes Quirúrgicos</label>
      <input pInputText id="aqx" [(ngModel)]="pacienteIngresar.aqx" />
    </div>
    @if (pacienteIngresar.sexo=="Femenino") {
    <div>
      <label for="ago">Antecedentes Gineco-Obstétricos</label>
      <input pInputText id="ago" [(ngModel)]="pacienteIngresar.ago" />
    </div>

    }

    <p-button label="Insertar" (onClick)="guardarPaciente()"></p-button>
  </div>
</section>