<p-toast></p-toast>

<!-- Historia clinica -->
<p-dialog header="Historia Clinica" [(visible)]="visibleHistorias" [style]="{ width: '75vw' ,height:'50vw'}"
  [modal]="true">
  @if(historiaClinicaid!=null){
  <app-tabla-historia-clinica [id]="historiaClinicaid"></app-tabla-historia-clinica>

  }

</p-dialog>

<!-- Modal crear nuevo paciente -->
<p-dialog header="Nuevo Paciente" [(visible)]="visiblePaciente" [style]="{ width: '75vw' }" [modal]="true">
  <app-formulario-paciente (saveSuccess)="pacienteGuardar()"></app-formulario-paciente>
</p-dialog>

<span class="p-input-icon-left">
  <i class="pi pi-search"></i>
  <input type="text" pInputText [(ngModel)]="nombre" />
</span>

<p-button label="Consultar" (onClick)="consultarPorNombre()" [loading]="buscandoPacientes" class="ml-2"></p-button>
<p-button label="Nuevo" (onClick)="visiblePaciente = true" class="ml-2"></p-button>

<div class="card mt-2">
  <p-table [value]="pacientes" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Sexo</th>
        @if (usuarioRol=="ADMINISTRADOR") {
        <th>Historia Clinica</th>
        }
        <th>Ver</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-paciente>
      <tr>
        <td>{{ paciente.cedula }}</td>
        <td>{{ paciente.primerNombre }}</td>
        <td>{{ paciente.apellidoPaterno }}</td>
        <td>{{ paciente.edad }}</td>
        <td>{{ paciente.sexo }}</td>
        @if (usuarioRol=="ADMINISTRADOR") {

        <td>
          <p-button label="Nueva" (onClick)="abirHistoriaClinica(paciente.id)"></p-button>
        </td>
        }
        <td>
          <p-button icon="pi pi-eye" (onClick)="abirHistoriaClinica(paciente.id)"></p-button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-table>
</div>